<!DOCTYPE html>
<html>
    <head> <!--This base template will give us the navigation bar and will be added to the original index-->
        {%if title%}
        <title>{{title}}- Microblog</title>
        {%else%}
        <title>Welcome to Microblog</title>
        {%endif%}
    </head>
    <body>
        <div>Microblog: <a href="/index">Home</a></div>
        <hr>
        {%block content %}{% endblock %} <!-- The block statement defines the place where the derived template can insert themselves-->
    </body>
</html>